%header-buttons {
    color: #ffff;
    width: 70px;
    display: block;
    margin: 0 10px;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}